
.circle {
  width: 100vw;
  height: 100px;
  margin-bottom: -100px !important;
  background-color: transparent !important;
  /* border-radius: 50%; */
  box-shadow: 0px -10px 60px rgba(255, 0, 0, 0.966),
    -10px 0px 60px rgba(0, 0, 255, 0.968),
    10px 0px 60px rgba(255, 255, 0, 0.972),
    0px 10px 60px rgba(0, 208, 255, 0.972);
  transition: 1.8s;
  animation: rotate infinite 9s linear;
}
