.LP{
    position: relative;
    top: 78px;
    left: 3px;  
}
.LR{
    position: relative;
    top: 34px;
    left: 15.5px;
}
.LM{
    position: relative;
    top: 25px;
    left: 28.5px;
}
.LI{
    position: relative;
    top: 25px;
    left: 40.5px;
}
.LT{
    position: relative;
    top: 98px;
    left:52.8px;
}

.RP{
    position: relative;
    top: 78.3px;
    left: 53px;  
}
.RR{
    position: relative;
    top: 34.5px;
    left: 41.5px; 
}
.RM{
    position: relative;
    top: 24.7px;
    left: 29.4px; 
}
.RI{
    position: relative;
    top: 25px;
    left: 17.5px; 
}
.RT{
    position: relative;
    top: 97.5px;
    left: 4.5px;
}


.content-capture{ 
    margin: 10px auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    position: relative;
}


#Scores {
	margin: 0 auto;
	/* width: 500px; */
    text-align:center;
    /* border: 2px solid black;  */
}

#status {
    min-height: 22px;
	text-align: center;
	margin-bottom: 5px;
	color: red;
}


#imagediv {
	/* padding:0px;
	margin: 0 auto;
	width: 250px;
	height: 300px;
	overflow: hidden;
    border: 1px solid rgba(51, 122, 183, 0.39);
    display: table; */

    width:250px;
    height:300px;
    margin: 10px auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    position: relative;
}


#imagediv img {
	width: 98%;
	height: 98%;
}

#imagediv div{
	text-align: center;
	vertical-align: middle;
	height: 500px;
	background: #d3d3d3;
	display: table-cell;
}


#image {
	width: 100%;
}